<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Foundation.Forms" description="Foundation Forms Items" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Foundation\Forms\serialization\templates" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <include name="Foundation.Forms.Templates" database="master" path="/sitecore/templates/Foundation/Forms" />

          </predicate>
        </configuration>

        <configuration name="Foundation.Forms.ContentItems" description="Foundation Forms Content Items (Synced only if doesn't already exist)" dependencies="Foundation.Serialization,Foundation.Forms" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Foundation\Forms\serialization\content" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false"
                           singleInstance="true" />

          <evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
          <!--
						Note: when using custom evaluators keep Transparent Sync OFF for those configurations (the line below).
						Transparent Sync operates by reading from the serialization store directly.
						In other words transparent sync always acts like SerializedAsMasterEvaluator because disk is LITERALLY the master.
						See https://github.com/kamsar/Unicorn/wiki/The-Transparent-Sync-Guide
					-->

          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <!--Global Settings-->
            <!--CTA Button Settings-->
            <include name="Foundation.Forms.CTAButtonStyleFolder" database="master" path="/sitecore/content/Global Settings/CTA Button Styles" >
              <exclude children="true">
                <except name="Primary" includeChildren="true" />
                <except name="Primary Inverse" includeChildren="true" />
                <except name="Primary Outline" includeChildren="true" />
                <except name="Primary Outline Variant" includeChildren="true" />
                <except name="Secondary" includeChildren="true" />
                <except name="Secondary Inverse" includeChildren="true" />
                <except name="Secondary Outline" includeChildren="true" />
                <except name="Secondary Outline Variant" includeChildren="true" />
                <except name="Light" includeChildren="true" />
                <except name="Primary Icon" includeChildren="true" />
                <except name="Secondary Icon" includeChildren="true" />
                <except name="Tertiary" includeChildren="true" />
                <except name="Tertiary Icon" includeChildren="true" />
                <except name="Tertiary Outline" includeChildren="true" />
                <except name="Tertiary Outline Variant" includeChildren="true" />
              </exclude>
            </include>

            <include name="Foundation.Forms.CTAButtonSizesFolder" database="master" path="/sitecore/content/Global Settings/CTA Button Sizes" >
              <exclude children="true">
                <except name="Small" includeChildren="true" />
                <except name="Medium" includeChildren="true" />
                <except name="Large" includeChildren="true" />
              </exclude>
            </include>

            <include name="Foundation.Forms.CTAButtonTypesFolder" database="master" path="/sitecore/content/Global Settings/CTA Button Link Types" >
              <exclude children="true">
                <except name="Link" includeChildren="true" />
                <except name="Button" includeChildren="true" />
                <except name="Submit Button" includeChildren="true" />
              </exclude>
            </include>

            <!--Search Box Settings-->
            <include name="Foundation.Forms.SearchBoxSizes" database="master" path="/sitecore/content/Global Settings/Search Box Sizes" >
              <exclude children="true">
                <except name="Large" includeChildren="true" />
                <except name="Medium" includeChildren="true" />
                <except name="Small" includeChildren="true" />
              </exclude>
            </include>

            <include name="Foundation.Forms.SearchBoxStyles" database="master" path="/sitecore/content/Global Settings/Search Box Styles" >
              <exclude children="true">
                <except name="Dark" includeChildren="true" />
                <except name="Light" includeChildren="true" />
              </exclude>
            </include>

          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>