<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net472" />
  <package id="Glass.Mapper.Sc.92.Core" version="5.5.28" targetFramework="net472" />
  <package id="Glass.Mapper.Sc.92.Mvc" version="5.5.28" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net472" />
</packages>