<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <preprocessRequest>
        <processor type="Sitecore.Pipelines.PreprocessRequest.FilterUrlExtensions, Sitecore.Kernel">
          <param desc="Allowed extensions (comma separated)">aspx, txt, ashx, asmx, xml</param>
        </processor>
      </preprocessRequest>
      <httpRequestBegin>
        <processor type="Sample.Feature.Analytics.Handlers.RobotsHandler, Sample.Feature.Analytics"
                   patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']">          
        </processor>
        <processor type="Sample.Feature.Analytics.Handlers.SiteMapHandler, Sample.Feature.Analytics"
                   patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']">
        </processor>
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>