<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Feature.Analytics" description="Analytics Items" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Feature\Analytics\serialization\templates" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <!-- Templates --> 
            <include name="Feature.Analytics.Templates" database="master" path="/sitecore/templates/Feature/Analytics" />
            
            <!-- Renderings -->
            <include name="Feature.Analytics.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Analytics" />

          </predicate>
        </configuration>

      </configurations>
    </unicorn>
  </sitecore>
</configuration>