<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Feature.Tile" description="Tile Feature Items" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Feature\Tile\serialization\templates" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <!-- Templates -->
            <include name="Feature.Tile.Templates" database="master" path="/sitecore/templates/Feature/Tile" />
            
            <!-- Renderings -->
            <include name="Feature.Tile.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Tile" />
          </predicate>
        </configuration>

        <configuration name="Feature.Tile.ContentItems" description="Tile Feature Content Items (Synced only if doesn't already exist)" dependencies="Foundation.Serialization,Feature.Tile" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Feature\Tile\serialization\content" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false"
                           singleInstance="true" />

          <evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
          <!--
						Note: when using custom evaluators keep Transparent Sync OFF for those configurations (the line below).
						Transparent Sync operates by reading from the serialization store directly.
						In other words transparent sync always acts like SerializedAsMasterEvaluator because disk is LITERALLY the master.
						See https://github.com/kamsar/Unicorn/wiki/The-Transparent-Sync-Guide
					-->

          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <!--Global Settings-->
            <include name="Feature.Tile.CalloutTile.Styles" database="master" path="/sitecore/content/Global Settings/Callout Tile Styles" >
              <exclude children="true">
                <except name="Primary"/>
                <except name="Secondary"/>
              </exclude>
            </include>

            <include name="Feature.Tile.IconTile.Sizes" database="master" path="/sitecore/content/Global Settings/Tile Icon Sizes" >
              <exclude children="true">                
                <except name="Large"/>
                <except name="Small"/>
              </exclude>
            </include>

            <!--Greenwood site-->
            <include name="Feature.Tile.TileFolder.Greenwood" database="master" path="/sitecore/content/Greenwood/Content/Tiles" >
              <exclude children="true">                
              </exclude>
            </include>

            <include name="Feature.Tile.CalloutTile.Colours" database="master" path="/sitecore/content/Greenwood/Settings/Callout Tile Colours" >
              <exclude children="true">
                <except name="Blue"/>
                <except name="Green"/>
                <except name="Orange"/>
                <except name="Pink"/>
              </exclude>
            </include>

            <include name="Feature.Tile.IconTile.Icons" database="master" path="/sitecore/content/Greenwood/Settings/Tile Icons" >
              <exclude children="true">
                <except name="Activities Icon"/>
                <except name="Mobile Icon"/>
                <except name="Notebook and pen Icon"/>
                <except name="Thinking Icon"/>
              </exclude>
            </include>

          </predicate>
        </configuration>
        


      </configurations>
    </unicorn>
  </sitecore>
</configuration>