<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Foundation.Serialization" description="Sitecore Helix Framework Root items">
          <targetDataStore physicalRootPath="$(sourceFolder)\foundation\serialization\serialization\templates" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <!--
							Each include can also exclude specific subitems by path:
							<exclude path="/sitecore/content"/>

							Excludes may also exclude all children at once by adding a trailing slash, e.g. this would include the root /sitecore item but no children
							<include path="/sitecore">
								<exclude path="/sitecore/" />
							</include>

							NOTE: after changing what is included or excluded, you should reserialize all items, or at least the added items
							NOTE: the "name" attribute controls the folder name the items will go into (for SFS). If unspecified, the last path segment is used. Names must be unique across the configuration.
						-->
            <!-- Templates -->
            <include name="Foundation.Serialization.Templates.Feature" database="master" path="/sitecore/templates/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.Serialization.Templates.Foundation" database="master" path="/sitecore/templates/Foundation">
              <exclude children="true" />
            </include>
            <include name="Foundation.Serialization.Templates.Project" database="master" path="/sitecore/templates/Project">
              <exclude children="true" />
            </include>

            <!-- Renderings -->
            <include name="Foundation.Serialization.Renderings.Feature" database="master" path="/sitecore/layout/renderings/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.Serialization.Renderings.Foundation" database="master" path="/sitecore/layout/renderings/Foundation">
              <exclude children="true" />
            </include>
            <include name="Foundation.Serialization.Renderings.Project" database="master" path="/sitecore/layout/renderings/Project">
              <exclude children="true" />
            </include>

            <!-- Layouts -->
            <include name="Foundation.Serialization.Layouts.Feature" database="master" path="/sitecore/layout/layouts/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.Serialization.Layouts.Foundation" database="master" path="/sitecore/layout/layouts/Foundation">
              <exclude children="true" />
            </include>
            <include name="Foundation.Serialization.Layouts.Project" database="master" path="/sitecore/layout/layouts/Project">
              <exclude children="true" />
            </include>

            <!-- Placeholder Settings -->
            <include name="Foundation.Serialization.PlaceholderSettings.Feature" database="master" path="/sitecore/layout/placeholder settings/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.Serialization.PlaceholderSettings.Foundation" database="master" path="/sitecore/layout/placeholder settings/Foundation">
              <exclude children="true" />
            </include>
            <include name="Foundation.Serialization.PlaceholderSettings.Project" database="master" path="/sitecore/layout/placeholder settings/Project">
              <exclude children="true"/>
            </include>

            <!-- Models -->
            <include name="Foundation.Serialization.Models.Feature" database="master" path="/sitecore/layout/models/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.Serialization.Models.Foundation" database="master" path="/sitecore/layout/models/Foundation">
              <exclude children="true" />
            </include>
            <include name="Foundation.Serialization.Models.Project" database="master" path="/sitecore/layout/models/Project">
              <exclude children="true" />
            </include>

            <!-- Media Library -->
            <include name="Foundation.Serialization.MediaLibrary.Project" database="master" path="/sitecore/media library/Files/Project">
              <exclude children="true" />
            </include>

            <include name="Foundation.Serialization.MediaLibrary.Feature" database="master" path="/sitecore/media library/Files/Feature">
              <exclude children="true" />
            </include>
            
            <include name="Foundation.Serialization.MediaLibrary.Foundation" database="master" path="/sitecore/media library/Files/Foundation">
              <exclude children="true" />
            </include>

            <!-- Item Bucket Facets -->
            <include name="Foundation.Serialization.ItemBucketFacets.Project" database="master" path="/sitecore/system/Settings/Buckets/Facets/Project">
              <exclude children="true" />
            </include>

            <include name="Foundation.Serialization.ItemBucketFacets.Foundation" database="master" path="/sitecore/system/Settings/Buckets/Facets/Foundation">
              <exclude children="true" />
            </include>

            <include name="Foundation.Serialization.ItemBucketFacets.Feature" database="master" path="/sitecore/system/Settings/Buckets/Facets/Feature">
              <exclude children="true" />
            </include>
            
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>