<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="publish:end">
        <handler type="Sample.Foundation.Caching.Events.SitecoreCacheClearer, Sample.Foundation.Caching" method="ClearCaches">
          <caches hint="list">
            <cache>G8CommonCache</cache>
          </caches>
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Sample.Foundation.Caching.Events.SitecoreCacheClearer, Sample.Foundation.Caching" method="ClearCaches">
          <caches hint="list">
            <cache>G8CommonCache</cache>
          </caches>
        </handler>
      </event>
    </events>
  </sitecore>
</configuration>