<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Feature.Accordion" description="Accordion Feature Items" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Feature\Accordion\serialization\templates" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!--Templates-->
            <include name="Feature.Accordion.Templates" database="master" path="/sitecore/templates/Feature/Accordion" />
            <!--Renderings-->
            <include name="Feature.Accordion.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Accordion" />                          
            <!--PlaceholderSettings-->
            <include name="Feature.Accordion.Placeholders" database="master" path="/sitecore/layout/Placeholder Settings/Feature/Accordion" />            
          </predicate>
        </configuration>

        <configuration name="Feature.Accordion.ContentItems" description="Accordion Feature Content Items (Synced only if doesn't already exist)" dependencies="Foundation.Serialization,Feature.Accordion" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Feature\Accordion\serialization\content" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false"
                           singleInstance="true" />

          <evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
          <!--
						Note: when using custom evaluators keep Transparent Sync OFF for those configurations (the line below).
						Transparent Sync operates by reading from the serialization store directly.
						In other words transparent sync always acts like SerializedAsMasterEvaluator because disk is LITERALLY the master.
						See https://github.com/kamsar/Unicorn/wiki/The-Transparent-Sync-Guide
					-->

          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            
            <!--Campaign site-->
            <include name="Feature.Accordion.ContentFolder" database="master" path="/sitecore/content/Campaign/Content/Accordions" >
              <exclude children="true">                                
              </exclude>
            </include>
            
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>