<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Project.Brand" description="Brand Website Project Items" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Project\Brand\serialization\templates" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <!-- Templates -->
            <include name="Project.Brand.Templates" database="master" path="/sitecore/templates/Project/Brand"/>

            <!-- Placeholders -->
            <include name="Project.Brand.Placeholders" database="master" path="/sitecore/layout/Placeholder Settings/Project/Brand"/>

            <!-- Layouts -->
            <include name="Project.Brand.Layouts" database="master" path="/sitecore/layout/Layouts/Project/Brand"/>

          </predicate>
        </configuration>

        <configuration name="Project.Brand.ContentItems" description="Brand Project Content Items (Synced only if doesn't already exist)" dependencies="Foundation.Serialization,Project.Campaign,Feature.GeneralContent" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Project\Brand\serialization\content" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />

          <evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
          <!--
						Note: when using custom evaluators keep Transparent Sync OFF for those configurations (the line below).
						Transparent Sync operates by reading from the serialization store directly.
						In other words transparent sync always acts like SerializedAsMasterEvaluator because disk is LITERALLY the master.
						See https://github.com/kamsar/Unicorn/wiki/The-Transparent-Sync-Guide
					-->

          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <!--Site base parent items-->
            <include name="Project.Brand.SiteTenant" database="master" path="/sitecore/content/Brand" >

              <exclude childrenOfPath="/sitecore/content/Brand/Settings" />
              <exclude childrenOfPath="/sitecore/content/Brand/Content" />
              <exclude childrenOfPath="/sitecore/content/Brand/Home" />

            </include>

          </predicate>

        </configuration>

      </configurations>
    </unicorn>
  </sitecore>
</configuration>