<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Feature.Search" description="Search Feature Items" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Feature\Search\serialization\templates" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <include name="Feature.Search.Templates" database="master" path="/sitecore/templates/Feature/Search" />
            <include name="Feature.Search.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Search" />          
           
          </predicate>
        </configuration>

        <configuration name="Feature.Search.ContentItems" description="Search Feature Content Items (Synced only if doesn't already exist)" dependencies="Foundation.Serialization,Feature.Search" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Feature\Search\serialization\content" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false"
                           singleInstance="true" />

          <evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
          <!--
						Note: when using custom evaluators keep Transparent Sync OFF for those configurations (the line below).
						Transparent Sync operates by reading from the serialization store directly.
						In other words transparent sync always acts like SerializedAsMasterEvaluator because disk is LITERALLY the master.
						See https://github.com/kamsar/Unicorn/wiki/The-Transparent-Sync-Guide
					-->

          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            
            <!--Greenwood site-->
            <include name="Feature.Search.ContentFolder" database="master" path="/sitecore/content/Greenwood/Content/Search" >
              <exclude children="true">                                 
              </exclude>
            </include>                       

          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>