<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Foundation.Theme" description="Foundation Theme Items" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Foundation\Theme\serialization\templates" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <include name="Foundation.Theme.Templates" database="master" path="/sitecore/templates/Foundation/Theme" />

          </predicate>
        </configuration>

        <configuration name="Foundation.Theme.ContentItems" description="Foundation Theme Content Items (Synced only if doesn't already exist)" dependencies="Foundation.Serialization,Project.All,Foundation.Theme" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Foundation\Theme\serialization\content" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />

          <evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
          <!--
						Note: when using custom evaluators keep Transparent Sync OFF for those configurations (the line below).
						Transparent Sync operates by reading from the serialization store directly.
						In other words transparent sync always acts like SerializedAsMasterEvaluator because disk is LITERALLY the master.
						See https://github.com/kamsar/Unicorn/wiki/The-Transparent-Sync-Guide
					-->

          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
        
            <include name="Foundation.Theme.PaddingSizes" database="master" path="/sitecore/content/Global Settings/Padding Sizes" >
              <exclude children="true">
                <except name="0" includeChildren="true" />
                <except name="1" includeChildren="true" />
                <except name="2" includeChildren="true" />
                <except name="3" includeChildren="true" />
                <except name="4" includeChildren="true" />
                <except name="5" includeChildren="true" />
              </exclude>
            </include>

          </predicate>

        </configuration>
    
      </configurations>
    </unicorn>
  </sitecore>
</configuration>