<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Feature.DynamicLayout" description="Dynamic Layout Items" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Feature\DynamicLayout\serialization\templates" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <include name="Feature.DynamicLayout.Templates" database="master" path="/sitecore/templates/Feature/DynamicLayout" />
            <include name="Feature.DynamicLayout.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/DynamicLayout" />

            <!--Placeholder settings-->
            <include name="Feature.DynamicLayout.PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Feature/Dynamic Layout" />
          </predicate>
        </configuration>

        <configuration name="Feature.DynamicLayout.ContentItems" description="Dynamic Layout Content Items (Synced only if doesn't already exist)" dependencies="Foundation.Serialization,Project.All,Feature.DynamicLayout" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Feature\DynamicLayout\serialization\content" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false"
                           singleInstance="true" />

          <evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
          <!--
						Note: when using custom evaluators keep Transparent Sync OFF for those configurations (the line below).
						Transparent Sync operates by reading from the serialization store directly.
						In other words transparent sync always acts like SerializedAsMasterEvaluator because disk is LITERALLY the master.
						See https://github.com/kamsar/Unicorn/wiki/The-Transparent-Sync-Guide
					-->

          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!--Data Source Items for Dynamic Layout (base set which can be added to)-->
            <include name="Feature.DynamicLayout.ContentFolder" database="master" path="/sitecore/content/Global Content/DynamicLayout" >
              <exclude children="true">
                <except name="12"/>
                <except name="12 Full Width"/>
                <except name="6 6"/>
                <except name="6 6 No Padding"/>
                <except name="6 6 Full Width"/>
                <except name="6 6 Full Width No Padding"/>
                <except name="3 3 6"/>
                <except name="3 3 6 Full Width"/>
                <except name="6 3 3"/>                
                <except name="6 3 3 Full Width"/>
                <except name="6 6 Full Width No Padding"/>
                <except name="3 9 Full Width"/>
                <except name="4 4 4"/>
              </exclude>
            </include>

            <!--Grid column settings values-->
            <include name="Feature.DynamicLayout.Settings" database="master" path="/sitecore/content/Global Settings/DynamicLayout" />

          </predicate>

        </configuration>

      </configurations>
    </unicorn>
  </sitecore>
</configuration>