@using Sitecore.Mvc

@{
    Layout = "~/Views/Common/_CommonLayout.cshtml";
}

@section HeadSection {
    @Html.Sitecore().Placeholder("head")
}

@section CustomStyles {
    @* TODO - QT - Remove this once we figure out how to add this properly *@
    <link href="//fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zilla+Slab:ital,wght@0,600;0,700;1,600;1,700&display=swap"
          rel="stylesheet">

    @*<link href="~/styles/G8_Greenwood.css" rel="stylesheet">*@
    <link href="~/styles/G8_Greenwood.min.css" rel="stylesheet">

}

<header role="banner">
    @Html.Sitecore().Placeholder("header")
</header>
<main>
    @Html.Sitecore().Placeholder("main")
</main>
<footer role="contentinfo">
    @Html.Sitecore().Placeholder("footer")
</footer>

@section CustomBottomScripts {

    @*<script src="~/scripts/G8_Greenwood.js"></script>*@
    <script src="~/scripts/G8_Greenwood.min.js"></script>
}
