<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Feature.GeneralContent" description="GeneralContent Items" dependencies="Foundation.Serialization,Foundation.Forms" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Feature\GeneralContent\serialization\templates" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <!-- Templates --> 
            <include name="Feature.GeneralContent.Templates" database="master" path="/sitecore/templates/Feature/GeneralContent" />
            
            <!-- Renderings -->
            <include name="Feature.GeneralContent.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/GeneralContent" />

            <!-- Placeholder Settings -->
            <include name="Feature.GeneralContent.Placeholders" database="master" path="/sitecore/layout/Placeholder Settings/Feature/General Content" />

          </predicate>
        </configuration>

        <configuration name="Feature.GeneralContent.ContentItems" description="GeneralContent Feature Content Items (Synced only if doesn't already exist)" dependencies="Foundation.Serialization,Project.All,Feature.GeneralContent" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Feature\GeneralContent\serialization\content" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />

          <evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
          <!--
						Note: when using custom evaluators keep Transparent Sync OFF for those configurations (the line below).
						Transparent Sync operates by reading from the serialization store directly.
						In other words transparent sync always acts like SerializedAsMasterEvaluator because disk is LITERALLY the master.
						See https://github.com/kamsar/Unicorn/wiki/The-Transparent-Sync-Guide
					-->

          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!-- Content Folder Items for GeneralContent Feature required for experience editor to work correctly -->
            <include name="Feature.GeneralContent.ContentFolder" database="master" path="/sitecore/content/Campaign/Content/Content Blocks" >
              <exclude children="true">
              </exclude>
            </include>
            
            <include name="Feature.GeneralContent.ImagesFolder" database="master" path="/sitecore/content/Campaign/Content/Responsive Images" >
              <exclude children="true">
              </exclude>
            </include>
            
            <include name="Feature.GeneralContent.QuickLinksFolder" database="master" path="/sitecore/content/Campaign/Content/Quick Links" >
              <exclude children="true">
              </exclude>
            </include>

            <!-- CTA Button Campaign -->
            <include name="Feature.GeneralContent.CTAButtonFolder.Campaign" database="master" path="/sitecore/content/Campaign/Content/CTA Buttons" >
              <exclude children="true">
              </exclude>
            </include>

            <!-- CTA Button Greenwood -->
            <include name="Feature.GeneralContent.CTAButtonFolder.Greenwood" database="master" path="/sitecore/content/Greenwood/Content/CTA Buttons" >
              <exclude children="true">
              </exclude>
            </include>                       

            <!-- Alert Bar Greenwood -->
            <include name="Feature.GeneralContent.AlertBarFolder.Greenwood" database="master" path="/sitecore/content/Greenwood/Content/Alert Bars" >
              <exclude children="true">
                <!--Used on the page templates-->
                <except name="Default All Pages Alert" />
              </exclude>
            </include>
            
            <!-- Page Sections -->
            <!--Global Setttings-->            
            <include name="Feature.GeneralContent.PageSectionLayoutStyles" database="master" path="/sitecore/content/Global Settings/Page Section Layout Styles" >
              <exclude children="true">
                <except name="Expand Left" includeChildren="true" />
                <except name="Expand Right" includeChildren="true" />
                <except name="Normal" includeChildren="true" />
              </exclude>
            </include>            

            <!--Greenwood-->
            <include name="Feature.GeneralContent.GW.PageSectionFolder" database="master" path="/sitecore/content/Greenwood/Content/Page Sections" >
              <exclude children="true">
              </exclude>
            </include>

            <include name="Feature.GeneralContent.GW.PageSectionStyles" database="master" path="/sitecore/content/Greenwood/Settings/Page Section Styles" >
              <exclude children="true">
                <except name="None" includeChildren="true" />
                <except name="Textured" includeChildren="true" />
              </exclude>
            </include>

            <include name="Feature.GeneralContent.GW.PageSectionColours" database="master" path="/sitecore/content/Greenwood/Settings/Page Section Colours" >
              <exclude children="true">
                <except name="White" includeChildren="true" />
                <except name="Blue" includeChildren="true" />
                <except name="Green" includeChildren="true" />
                <except name="Grey" includeChildren="true" />
                <except name="Pink" includeChildren="true" />
              </exclude>
            </include>

            <include name="Feature.GeneralContent.GW.PageSectionDecorSides" database="master" path="/sitecore/content/Greenwood/Settings/Page Section Decor-Sides" >
              <exclude children="true">
                <except name="None" includeChildren="true" />
                <except name="Calculator Tall Icons" includeChildren="true" />
                <except name="Rain Cloud Icons" includeChildren="true" />
                <except name="Sun and Stars Icons" includeChildren="true" />
              </exclude>
            </include>

            <include name="Feature.GeneralContent.PageSectionDecorTopEdge" database="master" path="/sitecore/content/Greenwood/Settings/Page Section Decor-Top-Edge" >
              <exclude children="true">
                <except name="None" includeChildren="true" />
                <except name="Wavy" includeChildren="true" />
              </exclude>
            </include>            
            
          </predicate>

        </configuration>

      </configurations>
    </unicorn>
  </sitecore>
</configuration>