<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Feature.Social" description="Social Feature Items" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Feature\Social\serialization\templates" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!--Templates-->
            <include name="Feature.Social.Templates" database="master" path="/sitecore/templates/Feature/Social" />
            <!--Renderings-->
            <include name="Feature.Social.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Social" />
          </predicate>
        </configuration>

        <configuration name="Feature.Social.ContentItems" description="Social Feature Content Items (Synced only if doesn't already exist)" dependencies="Foundation.Serialization,Feature.Social" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Feature\Social\serialization\content" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false"
                           singleInstance="true" />

          <evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
          <!--
						Note: when using custom evaluators keep Transparent Sync OFF for those configurations (the line below).
						Transparent Sync operates by reading from the serialization store directly.
						In other words transparent sync always acts like SerializedAsMasterEvaluator because disk is LITERALLY the master.
						See https://github.com/kamsar/Unicorn/wiki/The-Transparent-Sync-Guide
					-->

          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <!--Campaign site-->
            <include name="Feature.Social.ContentFolder.Campaign" database="master" path="/sitecore/content/Campaign/Content/Social" >
              <exclude children="true">
              </exclude>
            </include>

            <!--Greenwood site-->
            <include name="Feature.Social.ContentFolder.Greenwood" database="master" path="/sitecore/content/Greenwood/Content/Social" >
              <exclude children="true">
                <!--Used on the base templates so add this if it doesn't exist-->
                <except name="Footer" includeChildren="true" />
              </exclude>
            </include>

          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>