<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Foundation.LocalDatasource" description="Foundation Local Datasource Items" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Foundation\LocalDatasource\serialization\templates" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <!--Templates-->
            <include name="Foundation.LocalDatasource.Templates" database="master" path="/sitecore/templates/Foundation/LocalDatasource" />

            <!--Reference to one SINGLE ADDITIONAL FIELD which has been added to a DEFAULT SITECORE TEMPLATE. Doing this in this way means we're not syncing an entire Sitecore managed template-->
            <include name="Foundation.LocalDatasource.RenderingOptionField" database="master" path="/sitecore/templates/System/Layout/Sections/Rendering Options/Editor Options/Supports Local Datasource" />


          </predicate>
        </configuration>

      </configurations>
    </unicorn>
  </sitecore>
</configuration>