<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <events>
      <event name="item:added">
        <handler type="Sample.Foundation.LocalDatasource.Infrastructure.Events.UpdateLocalDatasourceReferences, Sample.Foundation.LocalDatasource" method="OnItemAdded" />
      </event>
      <event name="item:copied">
        <handler type="Sample.Foundation.LocalDatasource.Infrastructure.Events.UpdateLocalDatasourceReferences, Sample.Foundation.LocalDatasource" method="OnItemCopied" />
      </event>
    </events>
    <pipelines>
      <getRenderingDatasource>
        <processor type="Sample.Foundation.LocalDatasource.Infrastructure.Pipelines.GetLocalDatasourceLocation, Sample.Foundation.LocalDatasource" patch:before="processor[@type='Sitecore.Pipelines.GetRenderingDatasource.CheckDialogState, Sitecore.Kernel']" />
      </getRenderingDatasource>
    </pipelines>
    <settings>
      <setting name="Sample.Foundation.LocalDatasource.LocalDatasourceFolderName" value="LocalContent" />
      <setting name="Sample.Foundation.LocalDatasource.LocalDatasourceFolderTemplate" value="{AE7B3844-D281-4214-8811-225871802FE0}" />
    </settings>
  </sitecore>
</configuration>