<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sample.Foundation.Routing.Pipelines.InitializeRoutes, Sample.Foundation.Routing" patch:after="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeGlobalFilters, Sitecore.Mvc']" />
      </initialize>
    </pipelines>
  </sitecore>
</configuration>
